.frame{
  background-color: rgb(139, 161, 179);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  border: 2px solid rgb(2, 2, 2);
  border-radius: 20px 20px 20px 20px;
  height: 50vh;
}

.frameinside{
  margin-top: 7%;
}

#count{
  background-color: rgb(80, 111, 111);
  width: 20%;
  margin-left: 40%;
  border: 2px solid black;
  border-radius: 20px 20px 20px 20px;
}